body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:982px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:657px;
}
#u16 {
  position:absolute;
  left:7px;
  top:81px;
  width:376px;
  height:657px;
}
#u17 {
  position:absolute;
  left:2px;
  top:320px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:408px;
  height:64px;
}
#u18 {
  position:absolute;
  left:7px;
  top:7px;
  width:408px;
  height:64px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:408px;
  word-wrap:break-word;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:485px;
  height:32px;
}
#u20 {
  position:absolute;
  left:497px;
  top:14px;
  width:485px;
  height:32px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:485px;
  word-wrap:break-word;
}
