body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:485px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:485px;
  height:112px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:485px;
  height:112px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:485px;
  word-wrap:break-word;
}
