body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:927px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u46 {
  position:absolute;
  left:47px;
  top:21px;
  width:885px;
  height:386px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:91px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:91px;
}
#u48 {
  position:absolute;
  left:2px;
  top:38px;
  width:46px;
  word-wrap:break-word;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:91px;
}
#u49 {
  position:absolute;
  left:50px;
  top:0px;
  width:150px;
  height:91px;
}
#u50 {
  position:absolute;
  left:2px;
  top:38px;
  width:146px;
  word-wrap:break-word;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  height:91px;
}
#u51 {
  position:absolute;
  left:200px;
  top:0px;
  width:680px;
  height:91px;
  text-align:left;
}
#u52 {
  position:absolute;
  left:2px;
  top:14px;
  width:676px;
  word-wrap:break-word;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:200px;
}
#u53 {
  position:absolute;
  left:0px;
  top:91px;
  width:50px;
  height:200px;
}
#u54 {
  position:absolute;
  left:2px;
  top:92px;
  width:46px;
  word-wrap:break-word;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:200px;
}
#u55 {
  position:absolute;
  left:50px;
  top:91px;
  width:150px;
  height:200px;
}
#u56 {
  position:absolute;
  left:2px;
  top:92px;
  width:146px;
  word-wrap:break-word;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  height:200px;
}
#u57 {
  position:absolute;
  left:200px;
  top:91px;
  width:680px;
  height:200px;
  text-align:left;
}
#u58 {
  position:absolute;
  left:2px;
  top:28px;
  width:676px;
  word-wrap:break-word;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:90px;
}
#u59 {
  position:absolute;
  left:0px;
  top:291px;
  width:50px;
  height:90px;
}
#u60 {
  position:absolute;
  left:2px;
  top:37px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:90px;
}
#u61 {
  position:absolute;
  left:50px;
  top:291px;
  width:150px;
  height:90px;
}
#u62 {
  position:absolute;
  left:2px;
  top:37px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  height:90px;
}
#u63 {
  position:absolute;
  left:200px;
  top:291px;
  width:680px;
  height:90px;
}
#u64 {
  position:absolute;
  left:2px;
  top:37px;
  width:676px;
  visibility:hidden;
  word-wrap:break-word;
}
