body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:406px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:392px;
  height:64px;
}
#u0 {
  position:absolute;
  left:14px;
  top:11px;
  width:392px;
  height:64px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:392px;
  white-space:nowrap;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:653px;
}
#u2 {
  position:absolute;
  left:14px;
  top:86px;
  width:384px;
  height:653px;
}
#u3 {
  position:absolute;
  left:2px;
  top:318px;
  width:380px;
  visibility:hidden;
  word-wrap:break-word;
}
