body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:406px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:655px;
}
#u4 {
  position:absolute;
  left:7px;
  top:78px;
  width:374px;
  height:655px;
}
#u5 {
  position:absolute;
  left:2px;
  top:320px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:392px;
  height:64px;
}
#u6 {
  position:absolute;
  left:14px;
  top:11px;
  width:392px;
  height:64px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:392px;
  white-space:nowrap;
}
