body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:415px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:653px;
}
#u42 {
  position:absolute;
  left:0px;
  top:80px;
  width:382px;
  height:653px;
}
#u43 {
  position:absolute;
  left:2px;
  top:318px;
  width:378px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:408px;
  height:64px;
}
#u44 {
  position:absolute;
  left:7px;
  top:7px;
  width:408px;
  height:64px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:408px;
  word-wrap:break-word;
}
