body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:415px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:660px;
}
#u34 {
  position:absolute;
  left:0px;
  top:75px;
  width:375px;
  height:660px;
}
#u35 {
  position:absolute;
  left:2px;
  top:322px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:408px;
  height:64px;
}
#u36 {
  position:absolute;
  left:7px;
  top:7px;
  width:408px;
  height:64px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:408px;
  word-wrap:break-word;
}
